/* -----------------------------------------------------------------------
 CSS file
----------------------------------------------------------------------- */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border:none;
}

:focus {
    outline:0;
}







/* typography */

html {font-size:100.01%;}

body {
    font-size:75%;
    color:#000;
    background:#fff;
    font-family: 'Oswald', 'Roboto', Arial, sans-serif;
}

a {
    color:#51c44d;
    text-decoration: none;
}

a:active, a:hover {
    color:#47b53c;
    text-decoration:underline;
}

h1 {
    font-size: 3.375em;
    font-weight: 800;
    margin-bottom: 0.667em;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald', serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    color: #222;
    line-height: 1.35;
    margin-bottom: 1.15rem;
    font-family: 'Roboto', Arial, sans-serif;
}

.light-cut {
    font-weight: 300;
}





/* GRID */

.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}

.clearfix, .container {display:block;}

.clear {clear:both;}

.cta-button {
    display: block;
    text-align: center;
    padding: 16px 20px;
    font-family: 'Oswald', 'Roboto', Arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
}

.cta-button:hover {
    text-decoration: none;
}

.cta-button.black {
    background-color: #222;
    border: 1px solid #111;
    color: #fff;
}

.cta-button.black:hover {
    color: #51c44d;
}

.cta-button.green {
    background-color: #51c44d;
    color: #fff;
    border: 1px solid #47b53c;
}

.cta-button.green:hover {
    background-color: #47b53c;
}

.cta-button.orange {
    background-color: #F78F1E;
    border:1px solid #EC5E0C;
    color: #fff;
}

.cta-button.orange:hover {
    background-color: #EC5E0C;
}

.cta-button.transparent {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 0;
}

.cta-button.outline {
    border: 1px solid #51c44d;
}

.cta-button.disabled, .cta-button.disabled:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #fff;
    cursor: context-menu;
}

.content-wrap {
    padding: 60px 20px;
    margin: 0 auto;
    max-width: 1020px;
    min-width: 768px;
}



/* mystyle override */
.alert {
    font-size: 1rem;
}

.preloader {
    text-align: center;
    line-height: 100px;
}

.modal-dialog-fill {
    margin-top: 25% !important;
}



/* HEADER */

.main-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: auto;
}

.main-header__logo {
    float: left;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 170px;
}

.main-header__logo img {
    display: block;
    width: 100%;
}

.main-header__navigation {
    float: right;
    padding-right: 11px;
}

.main-header__navigation_item {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 24px 20px;
    display: inline-block;
}

.main-header__navigation_item:hover {
    background-color: #222;
    text-decoration: none;
}



/* FOOTER */

.main-footer {
    margin: 0 auto;
    padding: 2rem 0;
    overflow: auto;
    text-align: center;
}
.main-footer__list_item {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    /*font-weight: 200;*/
    margin-right: 30px;
    display: inline-block;
}



/* -----

SVG Icons - svgicons.sparkk.fr

----- */

.svg-icon {
    width: 2em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}





/* FORM */

.standalone-form {
    max-width: 400px;
    margin: 100px auto;
}

.standalone-form__form-field {
    margin-bottom: 25px;
}

.standalone-form__form-field.message {
    font-size: 2rem;
}

.error .form-field__label {
    color: red;
}

.error .form-field__input_text {
    color: red;
    border-width: 2px;
    border-color: red;
}

.form-field__label {
    font-size: 1.05rem;
    color: #999;
    cursor: pointer;
    padding: 4px 0;

}

.form-field__input_checkbox {
    position: relative;
    top: 2px;
    width: 17px;
    height: 16px;
    left: -2px;
}

.form-field__input_text {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    background-color: transparent;
    text-align: left;
    border: none;
    border-color: #ddd;
    border-width: 1px;
    border-bottom-style: solid;
    color: #222;
    font-family: 'Oswald', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
}

.form-field__input_text:focus {
    border-color: #47b53c;
    border-width: 2px;
}

.form-field__input_submit {
    width: 100%;
}

.form-field__password-reset {
    text-align: center;
    display: block;
    font-size: 1.05rem;
}





/* INDEX */
.index-hero-area {
    background-image: url(../images/layout/index-bg.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.index-hero-area header {
    background-color: transparent;
    border: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.index-hero-area nav {
    float: right;
}
.index-hero-area nav a {
    color: #fff;
}
.index-hero-area__copy {
    text-align: center;
    padding: 140px 0 95px;
    color: #fff;
}
.index-hero-area__copy h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}
.index-hero-area__copy h2 {
    font-size: 1.66rem;
    margin-bottom: 0.667rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.index-hero-area__cta {
    text-align: center;
    overflow: auto;
}
.index-hero-area__cta_headline {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.index-hero-area__cta_fieldset {
    margin: 0 auto;
    max-width: 600px;
}
.index-hero-area__cta_fieldset input {
    float: left;
}
.index-hero-area__cta_fieldset input[type="text"] {
    width: 476px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 14px;
    margin-right: 6px;
    border: 0;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
}
.index-hero-area__cta_button {
    margin: 0 auto 80px;
    max-width: 180px;
}
.index-hero-area__cta.play-now .index-hero-area__cta_button {
    padding: 20px;
}
.index-hero-area__cta p {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    margin: 24px 0 80px;
    font-family: 'Oswald', sans-serif;
}
.index-how-to-play {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.index-how-to-play h2 {
    font-size: 1.66rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0.667rem;
    margin: 4rem auto 0;
}

.index-how-to-play_item {
    float: left;
    width: 33.33%;
    padding: 60px 3% 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.index-how-to-play_item h2 {
    font-family: 'Oswald', serif;
    font-size: 2.22rem;
    font-weight: 700;
    margin-bottom: 0.667rem;
    text-transform: uppercase;
}
.index-game-rules {
    background-color: #202226;
    clear: both;
}
.index-game-rules__inner {
    max-width: 800px;
    margin: 0 auto;
}
.index-game-rules__copy {
    text-align: right;
    padding-right: 277px;
    color: #fff;
}
.index-game-rules__copy h2 {
    font-size: 2.22rem;
    font-weight: 700;
    margin-bottom: 0.667rem;
    text-transform: uppercase;
    padding-top: 5rem;
}
.index-game-rules__copy ul {
    margin: 25px 0;
}
.index-game-rules__copy li {
    color: #ddd;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Roboto', Arial, sans-serif;
}
.index-game-rules__copy li>span {
    -webkit-border-radius:77px;
    border-radius:77px;
    background-color: #51c44d;
    color: #fff;
    display: inline-block;
    font-size: 19px;
    font-weight: 800;
    height: 18px;
    line-height: 0.9;
    margin-left: 6px;
    position: relative;
    text-align: center;
    top: 0;
    width: 18px;
}
.index-game-rules__copy p a {
    font-size: 1.66rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.index-game-rules__image {
    float: right;
    margin: -90px 0 -50px;
}
.index-hero-area__cta.newsletter {
    padding: 80px 0;
    background-color: #47bf69;
}
.index__feedback {
    text-align: center;
    color: #ddd;
    font-size: 1.2rem;
    font-weight: 100;
    clear: both;
}
.index__feedback a {
    padding: 20px;
    display: block;
}






/* LEAGUES LISTING */

body.leagues .main-header__navigation .leagues {

    background-color: #222;

}

.leagues-listing__item {
    padding: 2rem 19px 1rem;
    cursor: context-menu;
    border-bottom: 1px solid #eee;
    clear: both;
    overflow: auto;
}

.leagues-listing__item_name {
    font-size: 3.3rem;
    padding: 0;
    font-weight: 700;
    opacity: 1;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.leagues-listing__item_name a {
    text-decoration: none;
    color: #222;
}

.leagues-listing__item_name a:hover, .leagues-listing__item_name a:focus {
    color: #444;
}

.leagues-listing__item_block {
    float: left;
    padding: 12px 52px 12px 0;
    color: #aaa;
}

.leagues-listing__item_label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 2px;
    font-size: 0.7rem;
    color: #999;
}

.leagues-listing__item_value {
    font-weight: 700;
    font-size: 1rem;
}

.leagues-listing__item_block.logo {
    display: block;
    padding: 0 22px;
}

.leagues-listing__item_block.logo img {
    max-height: 90px;
}

.leagues-listing__item_block.time {
    min-width: 180px;
}

.leagues-listing__item_block.cta {
    padding-right: 5px;
}

.leagues-listing__item:hover .leagues-listing__item_block.cta {
    opacity: 1;
}

.leagues-listing__item_block.cta .cta-button {
    padding: 8px 20px;
    font-size: 0.8rem;
    display: inline-block;
}





/* DRAFT */

.content-wrap.draft {
    max-width: 100%;
    padding: 0;
}

.leagues-listing__item.draft-headline {
    padding: 12px 14px 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.draft-headline .leagues-listing__item_name {
    font-size: 2rem;
    float: left;
    margin-right: 60px;
    margin-bottom: 16px;
    margin-top: 4px;
}

.draft-headline .leagues-listing__item_block_wrapper {
    display: block;
    float: left;
    margin-top: 7px;
    margin-left: 2px;
}

.draft-headline .leagues-listing__item_block {
    float: left;
    padding: 20px 52px 20px 0;
    color: #ddd;
    border-right: 1px solid #eee;
    margin-right: 19px;
}

.draft-headline .leagues-listing__item_block {
    color: #222;
    position: relative;
    top: -9px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.draft-headline .leagues-listing__item_block.logo {
    border: 0;
    width: 100px;
}

.draft-headline .leagues-listing__item_block.logo img {
    max-height: 50px;
    position: absolute;
    top: 6px;
}

.draft-headline .leagues-listing__item_block.time {
    padding-right: 0;
    border:0;
    width: 130px;
}

.draft-headline_cta {
    opacity: 1;
    float: left;
    width: 417px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.draft-headline_cta a {
    padding: 8px 20px;
    font-size: 0.8rem;
    float: left;
    margin-left: 5px;
}



.field-wrap {
    background-color: #222;
    margin-bottom: -1px;
    background-image: url(../images/layout/field-wrap-bg.jpg);
    background-position: center -240px;
    padding: 20px 0;
    min-height: 100px;
}

.field {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 9;
    box-shadow: 0 140px 80px -130px rgba(0, 0, 0, 0.5);
}

.field img {
    width: 100%;
    -webkit-border-radius: 20px;
            border-radius: 20px;
}

.field__player-position {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    background-color: #fff;
    opacity: 0.2;
    cursor: pointer;
    -webkit-transition: all 0.33s ease-in-out;
    -moz-transition: all 0.33s ease-in-out;
    -ms-transition: all 0.33s ease-in-out;
    -o-transition: all 0.33s ease-in-out;
    transition: all 0.33s ease-in-out;
}

.field__player-position.drafted {
    opacity: 0.8;
}

.field__player-position:hover, .field__player-position:focus {
    opacity: 0.8;
}

.field__player-position_profile-img img {
    -webkit-border-radius:70px;
    border-radius:70px;
}

.field__player-position_name {
    position: relative;
    color: #fff;
    top: 4px;
    width: 80px;
    display: block;
    left: -20px;
    text-align: center;
    text-shadow: 1px 1px 1px #40a636;
    text-transform: uppercase;
}



.gk {top: 44%;left: 5%;}

.field__player-position.df {left: 24%;}

.field__player-position.mf {left: 47%;}

.field__player-position.at {left: 70%;}

.position-1-3 {top: 16%;}

.position-2-3 {top: 44%;}

.position-3-3 {top: 72%;}

.position-1-4 {top: 5%;}

.position-2-4 {top: 30%;}

.position-3-4 {top: 55%;}

.position-4-4 {top: 78%;}

.position-1-2 {top: 30%;}

.position-2-2 {top: 60%;}



.tooltray {
    overflow: auto;
    background-color: #222;
    padding: 0 20px;
}

.formation-module__selector {
    float: left;
    margin-top: 5px;
    margin-left: 7px;
}

.formation-module__selector_item {
    font-size: 1rem;
    float: left;
    padding: 6px 11px;
    font-weight: 400;
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-right: 6px;
    background-color: #ddd;
    color: #999;
}

.formation-module__selector_item:hover {
    background-color: #51c44d;
    color: #fff;
    text-decoration: none;
}

.formation-module__selector_item.active {
    background-color: #47b53c;
    color: #fff;
}

.formation-module {
    float: left;
    margin-right: 30px;
}

.tooltray__label {
    color: #ddd;
    font-weight: 400;
    font-size: 0.85rem;
    padding: 12px 20px 12px 0;
    float: left;
}

.future-games {
    overflow: auto;
    display: block; /* temp */
    background-color: #222;
    padding: 8px 12px;
}

.future-games_headline {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin: 4px 0;
}

.future-games__item {
    float: left;
    padding: 11px 30px 7px 0;
    color: #ccc;
}

.future-games__item:hover {
    color:#ccc;
    cursor: default;
    text-decoration: none;
}

.future-games__item_timestamp {
    font-weight: 600;
    display: block;
    font-size: 11px;
    color: #47b53c;
    margin-bottom: 6px;
}

.future-games__item_label {
    font-weight: 400;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Roboto', Arial, sans-serif;
}



.player-filter__position_buttons {float: left;margin-top: 2px;}

.player-filter__position_buttons li {float: left;}

.player-filter__position_buttons_item {
    background-color: #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: block;
    margin: 2px 8px 0 0;
    color: #999;
}

.player-filter__position_buttons_item:hover {
    background-color: #51c44d;
    color: #fff;
    text-decoration: none;
}

.player-filter__position_buttons_item.active {
    background-color: #40a636;
    color: #fff;
}

.reset-filter {
    padding: 6px;
    margin-top: 6px;
    float: left;
    color: #aaa;
}

.reset-filter:hover {
    color: #EC5E0C;
}







.players-select-wrap {
    overflow: auto;
    padding-bottom: 6px;
}

.player-filter-tray {
    border-bottom: 1px solid #eee;
    padding: 16px 20px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    position: relative;
}

.player-filter {

}

.player-filter fieldset {
    float: left;
    margin-right: 8px;
}

.player-filter__label {
    float: left;
    font-size: 1rem;
    font-weight: 700;
    padding: 11px 20px 11px 0;
}

.player-filter__select {
    width: 200px;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 8px 4px;
    color: #444;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.player-filter__select:hover {
    border: 1px solid #51c44d;
}

.player-filter__select:focus {
    border: 1px solid #51c44d;
    background-color: #fff;
}

.player-filter__search {
    float: right;
}

.player-filter__search_input-field {
    width: 160px;
    border: 1px solid #ddd;
    padding: 9px 42px 9px 10px;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    float: left;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.player-filter__search_input-field:hover {
    border: 1px solid #51c44d;
}

.player-filter__search_input-field:focus {
    border: 1px solid #51c44d;
    background-color: #fff;
}

.player-filter__search_input-button {
    width: 40px;
    height: 40px;
    background-image: url(../images/layout/search-icon-alt.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -400px;
    border: 0;
    cursor: pointer;
    opacity: 0.6;
    margin-left: -40px;
    float: right;
}

.player-filter__search_input-button:hover {
    opacity: 1;
}

.players-wrap {
    overflow-x: auto;
}

.players-wrap__inner {
    width: auto;
}

.player-card {
    width: 144px;
    height: 194px;
    background-color: #fff;
    -webkit-box-sizing: border-box;	/* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
    position: relative;
    font-family: 'Oswald', sans-serif;
    border-right: 1px solid #eee;
    cursor:pointer;
}

.player-card[data-draft="drafted"] {
    opacity: 0.5;
}

.player-card__selector {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 1px;
    right: 6px;
    background-image: url(../images/layout/player-selected-checkbox.png);
    background-position: 0 0;
    cursor: pointer;
}

.player-card:hover>.player-card__selector {
    background-position: 0 -25px;
}

.player-card .player-card__selector.active, .player-card .player-card__selector:active {
    background-position: 0 -50px;
}

.player-card__avatar {
    margin: 16px auto 0;
    -webkit-border-radius: 77px;
    border-radius: 77px;
    border: 1px solid #fafafa;
    width: 80px;
}

.player-card__avatar img {
    -webkit-border-radius: 77px;
    border-radius: 77px;
    width: 100%;
}

.player-card__name {
    font-size: 0.85rem;
    padding: 10px 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.player-card__club {
    padding:6px 10px 0;
    text-align: center;
    color: #999;
    font-weight: 300;
    font-size: 1.1em;
}

.player-card__info {
    display: block;
    background-color: #fafafa;
    padding: 12px 10px;
    overflow: auto;
    margin-top: 11px;
}

.player-card__games-played {
    text-align: center;
    color: #999;
    font-weight: 300;
    font-size: 1.1em;
}

.player-card__price {
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    clear: both;
    text-align: center;
    width: 100%;
    padding: 8px 0;
}

.player-filter__price {
    margin-left: 20px;
    margin-right: 26px !important;
}

.player-filter__price b {
    font-size: 11px;
    position: relative;
    top: 20px;
}

.reset-filter {
    padding-left: 20px;
    border-left: 1px solid #ddd;
}







/* GAME RULES */
.game-rules {
    max-width: 620px;
    margin: 4rem auto;
}

.game-rules ol, .game-rules ul {
    margin-bottom: 4rem;
}

.game-rules ol li {
    list-style: decimal;
}

.game-rules ul li {
    list-style: disc;
}

.game-rules li {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.game-rules table {
    width: 100%;
    margin-bottom: 2rem;
}

.game-rules thead td {
    font-size: 1rem;
    line-height: 2;
    background-color: #51c44d;
    padding: 0 10px;
    color: #fff;
    border-bottom: 2px solid #47b53c;
}

.game-rules tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.game-rules tbody td:nth-child(2) {
    font-weight: 700;
}

.game-rules tbody td {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.85rem;
    line-height: 3;
    width: 50%;
    padding: 0 10px;
}





/* DASHBOARD */
.dashboard {
    overflow: auto;
}

.dashboard .col {
    float: left;
}

.dashboard-menu-wrap {
    width: 22%;
}

.dashboard-menu {
    padding: 34px 19px 0;
}

.dashboard-menu .item {
    margin-bottom: 24px;
}

.dashboard-menu .item a {
    padding: 12px 0;
    color: #111;
}

.dashboard-menu .item a:hover {
    text-decoration: none;
    color: #47b53c;
}

.dashboard-menu .item .label {
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
}

.dashboard-menu .item .desc {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    display: block;
    color: #999;
}

.dashboard-menu .item .label.cta {
    color: #51c44d;
}

.dashboard-menu-wrap .status {
    padding: 10px 19px 28px;
}

.status .saldo-amount {
    font-size: 1.25rem;
    margin-top: 4px;
    display: block;
    font-weight: 700;
}

.dashboard-menu-wrap .status .label {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    display: block;
    color: #999;
}

.dashboard .leagues-listing {
    width: 56%;
}

.news-feed-wrap {
    width: 22%;
}

.news-feed {
    padding: 32px 32px 19px 19px;
}

.news-feed .item {
    margin-bottom: 24px;
    border-bottom: 1px dotted #eee;
}

.news-feed .timestamp {
    margin-bottom: 12px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    display: block;
    color: #999;
}

.news-feed h3 {
    margin-bottom: 8px;
}

.news-feed p {
    font-size: 0.85rem;
    line-height: 1.25;
}

.dashboard header {
    background-color: #f9f9f9;
    overflow: auto;
    margin-top: 1px;
}

.dashboard h2 {
    font-size: 2rem;
    font-weight: 700;
    padding: 16px 19px;
    text-transform: uppercase;
    float: left;
}

.dashboard header .cta-button {
    font-size: 0.8rem;
    padding: 10px 20px;
    float: right;
    margin: 14px;
}

button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    height: 20px;
    padding: 20px !important;
    position: relative;
    width: 20px;
    z-index: 99;
}

.dashboard .leagues-listing__item_block.cta {
    width: 100%;
}

.js_active,.js_finished,.js_active a,.js_finished a{
    display:none;
}

.js_player_info img{
    border:solid 2px #ccc;
    float:left;
    margin-right:5px;
}
.js_player_info p{
    font-weight: normal;
    font-size:.8rem;
    margin:5px;
}
.js_player_info strong{
    font-weight:700;
}
.js_player_stats h2{
    float:none;
    padding:1px 0 17px 0;
    line-height: 2.25rem;
}
.js_player_stats_table table th{
    font-size:.8rem !important;
}
.my_team.dashboard{
    overflow: hidden;
}
.my_team h2.future-games_headline{
    font-size:1rem;
    padding:0;
}
.future-games__item_label b{
    font-weight: 700;
    color:#47b53c;
}




/* RWD */

@media screen and (max-width: 1024px) {

    .leagues-listing__item {
        margin-top: 1.25rem;
    }

    .leagues-listing__item_name {
        font-size: 3rem;
    }

    .leagues-listing__item_block {
        padding-top: 10px;
    }

    .leagues-listing__item_block.cta {
        opacity: 1;
        float: right;
        padding-right: 0;
    }

    .player-filter__select {
        width: 160px;
    }

}



@media screen and (max-width: 800px) {

    .field-wrap {
        padding: 0;
    }

}
